.header {
    display: flex;
}

.logo{
    flex: 1;
    display: inline;

}
.navbar{
    float:right; display:inline; width: 49%;


}
.container {
    grid-row: 1;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}


li {
    display: inline;
    float: right;
    padding: 10px;
}
.container-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(to right, lightgray, white);
}
.icons {
    padding: 50px 25px;
}


.image:hover {
    -moz-box-shadow: 0 0 10px green;
    -webkit-box-shadow: 0 0 10px green;
    box-shadow: 0 0 10px green;
}

table.country {
    border-collapse: collapse;
}
tr:nth-child(even) {
    background-color: lightgray;
}
tr:hover {
    background-color: lightslategray;
}

th, td {
    border: 1px solid lightslategray;
    padding: 3px;
    padding-left: 8px;
    text-align: left;
}




